body{
  font-family: "Raleway", sans-serif;
  color: white;
  background-color: black;
  background: url('img/cloud.jpg');
  background-attachment: fixed;
  /*background-image: url('img/grocery.jpg');*/
}

img{
max-width:100%;
max-height:100%;
margin: 10px;
border: 5px solid white;
border-radius: 10px;
}

img:hover{
  opacity: 0.5;
  border: 5px solid black;
}

.label-default {
  background-color: transparent;
  border: 1px solid white;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;

}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

.navbar{
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  padding-top: 10px;
  padding-bottom: 0px;
}

#gitlink:hover,#linkedinlink:hover {
    color: rgba(255, 102, 0, 1) !important;
    background-color: black;
}

#homelink:hover {
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: black !important;
  text-decoration: underline;
}

#homelink:focus {
    background-color: transparent;
    color:white;
}

#cslink:hover {
  background-color: rgba(102, 102, 204, 0.7) !important;
  color: black !important;
  text-decoration: underline;
}

#cslink:focus {
    background-color: transparent;
    color:white;
}

#neurolink:hover {
  background-color: rgba(255, 0, 102, 0.7) !important;
  color: black !important;
  text-decoration: underline;
}

#neurolink:focus {
    background-color: transparent;
    color:white;
}

#aboutlink:hover {
  background-color: rgba(255, 204, 0, 0.7) !important;
  color: black !important;
  text-decoration: underline;
}

#aboutlink:focus {
    background-color: transparent;
    color:white;
}

#resumelink:hover {
  background-color: rgba(0, 255, 153, 0.7) !important;
  color: black !important;
  text-decoration: underline;
}

#resumelink:focus {
    background-color: transparent;
    color:white;
}

a{
  color: white;
}

.row {
  display: flex; /* equal height of the children */
  /*margin-bottom: 10px;*/
}

.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 0, 102, 1);
  border-radius: 25px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text:hover{
  color: black;
}

.h-divider{
 margin-top:5px;

 height:10px;
 width:100%;
 border-top:10px solid black;
}

.h-divider2{
 margin-top:5px;
 margin-bottom:5px;
 height:10px;
 width:100%;
 border-top:2px solid white;
}

.h-divider3{
 margin-top:5px;
 margin-bottom:5px;
 height:10px;
 width:100%;
 border-top:2px solid white;
}



button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.center{
  /*font-size: 80px;*/
  /*background: rgba(255, 255, 255, 0.6);*/
  /*color: black;*/
  width: 600px;
  /*border: 15px solid white;*/
  /*padding: 0.2px;*/
  margin: auto;
  margin-top: 150px;
  text-align: center;
  position: relative;
  border-radius: 25px;
}

.header{
  /*font-size: 80px;*/
  background: rgba(255, 255, 255, 0.6);
  /*color: black;*/
  width: 800px;
  /*border: 15px solid white;*/
  /*padding: 0.2px;*/
  margin: auto;
  margin-top: 100px;
  text-align: center;
  position: relative;
  border-radius: 25px;
}

.navigationBlock{
  background: rgba(0, 0, 0, 1);
  text-align: center;
  width:100%;
  height:100%;
  /*padding-top: 10px;*/

  margin-bottom: 100px;
}

.navigationText{
background: rgba(255, 255, 255, 0.9);
color: black;
font-size: 18px;
text-align: center;
width:100%;
height:100%;
padding-top: 2px;
font-weight: bolder;
padding-bottom: 2px;
}

.blockheader{
  /*font-size: 80px;*/
  /*background: rgba(255, 255, 255, 0.6);*/
  /*color: black;*/
  width: 100%;
  /*border: 15px solid white;*/
  /*padding: 0.2px;*/
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  border-radius: 25px;
}

.block1{
  background: rgba(83, 83, 198, 0.4);
  width:100%;
  height:100%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-top: 5px;
  /*border-top: 10px solid black;*/
  /*border-bottom: 10px solid black;*/
}

.icon-laptop:hover{
  color:rgba(102, 102, 204, 1);
}

.block2{
  background: rgba(255, 0, 102, 0.4);
  width:100%;
  height:100%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-top: 5px;
  /*border-top: 10px solid black;
  border-bottom: 10px solid black;*/
}

.icon-brain:hover{
  color:rgba(255, 0, 102, 1);
}

.block3{
  background: rgba(0, 255, 153, 0.6);
  width:100%;
  height:100%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-top: 5px;
  /*border-top: 10px solid black;
  border-bottom: 10px solid black;*/
}

.icon-list-alt:hover{
  color: rgba(0, 255, 153, 1);
}

.block4{
  background: rgba(255, 204, 0, 0.4);
  width:100%;
  height:100%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-top: 5px;
  /*border-top: 10px solid black;
  border-bottom: 10px solid black;*/
}

.icon-smile:hover{
  color: rgba(255, 204, 0, 1);
}

.timelineBlock{
  width:100%;
  height:100%;
  padding: 30px;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.timelineBlock2{
  width:auto;
  height:auto;
  padding: 30px;
  padding-bottom: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin: auto;
}

.timelineBlock3{
  width:100%;
  height:auto;
  padding: 30px;
  padding-bottom: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin: auto;
}

.intro{
  background: rgba(255, 255, 255, 0.5);
  /*color: black;*/
  /*width: 700px;*/
  /*border: 15px solid white;*/
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: auto;
  /*margin-top: 20px;*/
  text-align: center;
  position: relative;
  border-radius: 0px;
}

h1{
  font-size: 80px;
  color:black;
}

h2{
  font-size: 20px;
  color: black;
}

h3{
  font-size: 60px;
  color:white;
}

h4{
  font-size: 30px;
  font-weight: bold;
  color:white;
  text-align: left;
}

h5{
  font-size: 18px;
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-align:left;
  border-radius: 25px;
}

h6{
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-align:left;

}

h7{
  visibility: hidden;
}
